<h1>Webistor</h1>
<ul id="main-nav">
  <li><a href="{{url "history#show"}}" class="history-btn">My history</a></li>
  <!--<li><a href="friends" class="friends-btn">My friends</a></li>-->
  <!--<li><a href="https://webistor.uservoice.com/" class="feedback-btn">Send feedback (new)</a></li>-->
  <li><a href="javascript:window.location.href='http://preview.webistor.net/?method=add&amp;url='+location.href+'&amp;title='+document.title;" class="bookmarklet-btn">Bookmarklet</a></li>
</ul>
<ul id="profile-nav">
  {{!-- <li><span>Avatar</span></li> --}}
  <li>
    {{#if username}}
      <a href="profiles/me" class="profile-btn"><span>{{username}}</span> <i class="fa fa-caret-down"></i></a>
      <ul class="sub-menu">
        <li>
          <a href="{{url "session#logout"}}" class="js-logout">Log out</a>
        </li>
      </ul>
    {{else}}
      <a href="{{url "session#login"}}" class="login-btn"><span>Log in</span></a>
    {{/if}}
  </li>
</ul>
