
<h3 class="title">
  <a href="{{this.url}}" target="_blank">
    {{title}}
  </a>
</h3>

<div class="url">
  <a href="{{this.url}}" target="_blank" class="link">
    {{this.url}}
  </a>
</div>

<div class="tags">
  {{#each tags}}
    <a href='#' class="tag">{{title}}</a>
  {{/each}}
</div>

<div class="entry-actions">
  <a href="#" class="js-delete delete">
    Delete
  </a>
  <a href="#" class="js-edit edit button green">
    Edit
  </a>
</div>
