
<h3 class="title">
  <a href="{{this.url}}" target="_blank">
    {{this.title}}
  </a>
</h3>

{{#if notes}}
  <div class="description">
    {{this.notes}}
  </div>
{{/if}}

<div class="tags">
  {{#each tags}}
    <a href='#' class="tag">{{this.title}}</a>
  {{/each}}
</div>

<footer>
  <ul>
    <li class="uri">
      <i class="fa fa-globe"></i>
      <a href="{{this.url}}" target="_blank" class="link">{{this.url}}</a>
    </li>
    <li class="entry-actions">
      <a href="#" class="js-edit">
        <i class="fa fa-pencil"></i>
      </a>
      {{!--
      <a href="#" class="js-delete delete">
        Delete
      </a>
      --}}
    </li>
    <li class="dt-created">
      <i class="fa fa-clock-o js-delete"></i>
      {{this.dt_created}}
    </li>
  </ul>
</footer>
