<div class="heading-wrapper cf">
  <a class="item-title" href="{{this.url}}" target="_blank" title="{{this.title}}">
    {{this.title}}
  </a>
  
  <a class="item-location" href="{{this.url}}" target="_blank" title="{{this.url}}">
    {{this.shortUrl}}
  </a>
  
  <a class="item-date">
    {{date this.created}}
  </a>
</div>

{{#if this.description}}
  <div class="item-notes">
    <div class="first-line-toggler">
      {{expandLineBreaks this.description}}
    </div>
  </div>
{{/if}}

<ul class="item-tags">
  {{#each tags}}
    <li>
      <a href='search/#{{this.title}}' class="btn tag"{{#if color}} style="background: {{this.color}};"{{/if}}>{{this.title}}</a>
    </li>
  {{/each}}
</ul>

<ul class="item-actions">
  <li>
    <a href="#" class="js-edit edit-item">
      <i class="fa fa-cog" {{#if dirty}}title="The changes made in this entry are not yet saved."{{/if}}></i>
    </a>
  </li>
  <li>
    <a href="#" class="js-delete delete-item" title="Delete this entry">
      <i class="fa fa-trash-o"></i>
    </a>
  </li>
</ul>
