<a href="#" 
  title="{{this.num}} Bookmark(s) in this tag. Pin it by choosing a color."
  class="picker-trigger{{#if this.color}} pinned{{/if}}"
  {{#if color}}style="color: {{this.color}};"{{/if}}
>
  <i 
    class="fa fa-circle" 
    style="font-size:{{this.ball_size}}em;margin-top:-{{this.ball_margin}}em;margin-left:-{{this.ball_margin}}em"
  ></i>
</a>

<a href="search/{{this.title}}" class="tag{{#if this.color}} pinned{{/if}}">
  {{this.title}}
</a>
