<a href="search/{{title}}" class="tag">{{title}}</a>
<span class="num"{{#if color}} style="color: {{color}};"{{/if}}>{{num}}</span>
<form class="color-picker" hidden>
  <input type="color" name="color" value="{{color}}">
  <input type="button" class="remove-color" name="remove" value="X">
  <input type="submit" name="submit" value="&raquo;">
</form>
